.services {
  padding: 65px 20px 80px;
  background: #ffffff;
}

.grid {
  max-width: 1150px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services {
    padding: 50px 16px 60px;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 22px;
  }
}